### Imports

In [2]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

from ImportUtils import get_dfInfoEscolas_from_parquet, get_dfInfoEscolas_for_analysis_from_parquet
from ImportUtils import vprint, vprint_time

from ChartUtils import chart
#from ChartUtils import linechart, barchart, barchart_nseries
#from main import dicParams, dicFiles

from main import dicAnalysis


K_MATPLOTLIB_STYLES_FILE = "NOVAENES.mplstyle"

### Load data

In [3]:
dfInfoEscolas_for_analysis = get_dfInfoEscolas_for_analysis_from_parquet()
print("Number of records;", dfInfoEscolas_for_analysis.shape[0], "; number of attributes:", dfInfoEscolas_for_analysis.shape[1])

print("Columns:")
print(dfInfoEscolas_for_analysis.columns.to_list())

Loaded Parquet file  C:/ENES/Parquet/dfInfoEscolas_for_analysis.parquet.gzip shape:  (1348692, 24)
Number of records; 1348692 ; number of attributes: 24
Columns:
['ano', 'Escola', 'Exame', 'Idade', 'Curso', 'CIF', 'Class_Exam', 'Class_Exam_Rounded', 'Distrito', 'Concelho', 'DescrNuts3', 'DescrNuts2', 'ExamRounded_median_CIF', 'ExamRounded_mean_CIF', 'ExamRounded_count_CIF', 'CIF_bonus_median_ExamRounded', 'CIF_bonus_mean_ExamRounded', 'CIF_bonus_adj_median_ExamRounded', 'CIF_bonus_adj_mean_ExamRounded', 'ExamOverallCount', 'ExamOverallRank', 'ExamYearlyRank', 'isFemale', 'isPublic']

In [5]:

dfInfoEscolas_for_analysis["ano"].groupby(dfInfoEscolas_for_analysis ["ano"])

In [6]:
for col in dfInfoEscolas_for_analysis.columns:
	xUniqueValues = dfInfoEscolas_for_analysis[col].unique()
	print(col, xUniqueValues.shape[0], "unique values.")
	if xUniqueValues.shape[0] <=5 :
		print("   ", col, xUniqueValues)

#x = pd.DataFrame(dfInfoEscolas["ano"].groupby(dfInfoEscolas["ano"]).count())
#print(x[0:5])

ano 12 unique values.
Escola 680 unique values.
Exame 32 unique values.
Idade 34 unique values.
Curso 9 unique values.
CIF 11 unique values.
Class_Exam 96 unique values.
Class_Exam_Rounded 11 unique values.
Distrito 21 unique values.
Concelho 28 unique values.
DescrNuts3 26 unique values.
DescrNuts2 8 unique values.
ExamRounded_median_CIF 20 unique values.
ExamRounded_mean_CIF 2260 unique values.
ExamRounded_count_CIF 1026 unique values.
CIF_bonus_median_ExamRounded 34 unique values.
CIF_bonus_mean_ExamRounded 19095 unique values.
CIF_bonus_adj_median_ExamRounded 227 unique values.
CIF_bonus_adj_mean_ExamRounded 114734 unique values.
ExamOverallCount 32 unique values.
ExamOverallRank 32 unique values.
ExamYearlyRank 27 unique values.
isFemale 2 unique values.
    isFemale [ True False]
isPublic 2 unique values.
    isPublic [ True False]

In [27]:
dfInfoEscolas_for_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1348692 entries, 0 to 1348691
Data columns (total 27 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   ano                               1348692 non-null  int64
 1   Escola                            1348692 non-null  object
 2   Exame                             1348692 non-null  object
 3   Idade                             1348692 non-null  float64
 4   Curso                             1348692 non-null  object
 5   SitFreq                           1348692 non-null  object
 6   CIF                               1348692 non-null  float64
 7   Class_Exam                        1348692 non-null  float64
 8   Class_Exam_Rounded                1348692 non-null  int32
 9   Distrito                          1348692 non-null  object
 10  Concelho                          1348692 non-null  object
 11  DescrNuts3                        1348692 non-null  object
 12  DescrNuts2                        1348692 non-null  object
 13  TipoCurso                         1348692 non-null  object
 14  SubtipoCurso                      1348692 non-null  object
 15  ExamRounded_median_CIF            1348692 non-null  float64
 16  ExamRounded_mean_CIF              1348692 non-null  float64
 17  ExamRounded_count_CIF             1348692 non-null  int64
 18  CIF_bonus_median_ExamRounded      1348692 non-null  float64
 19  CIF_bonus_mean_ExamRounded        1348692 non-null  float64
 20  CIF_bonus_adj_median_ExamRounded  1348692 non-null  float64
 21  CIF_bonus_adj_mean_ExamRounded    1348692 non-null  float64
 22  ExamOverallCount                  1348692 non-null  int64
 23  ExamOverallRank                   1348692 non-null  int32
 24  ExamYearlyRank                    1348692 non-null  int32
 25  isFemale                          1348692 non-null  bool
 26  isPublic                          1348692 non-null  bool
dtypes: bool(2), float64(9), int32(3), int64(3), object(10)
memory usage: 254.7+ MB

In [54]:
for col in dfInfoEscolas.columns:
	x = pd.DataFrame(dfInfoEscolas[col].groupby(dfInfoEscolas[col]).count())
	print("col", col, x.shape, type(x))
	print( "   ", x[0:3])

col ano (12, 1) <class 'pandas.core.frame.DataFrame'>
             ano
ano
2008  113616
2009  129477
2010  120623
col Escola (680, 1) <class 'pandas.core.frame.DataFrame'>
            Escola
Escola
0002      2250
0031       417
0039       469
col Exame (32, 1) <class 'pandas.core.frame.DataFrame'>
           Exame
Exame
138       23
239      101
501     6361
col Sexo (2, 1) <class 'pandas.core.frame.DataFrame'>
            Sexo
Sexo
F     910867
M     640751
col Idade (35, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [Idade]
Index: []
col Curso (16, 1) <class 'pandas.core.frame.DataFrame'>
            Curso
Curso
060    120438
061     17114
062     44439
col SitFreq (2, 1) <class 'pandas.core.frame.DataFrame'>
             SitFreq
SitFreq
AE        584749
ND        966869
col CIF (11, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [CIF]
Index: []
col Class_Exam (106, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [Class_Exam]
Index: []
col CFD (11, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [CFD]
Index: []
col Class_Exam_Rounded (11, 1) <class 'pandas.core.frame.DataFrame'>
                        Class_Exam_Rounded
Class_Exam_Rounded
10                              271229
11                              229472
12                              214341
col Class_Exam_RoundUp (11, 1) <class 'pandas.core.frame.DataFrame'>
                        Class_Exam_RoundUp
Class_Exam_RoundUp
10                              215152
11                              234596
12                              219080
col AnoDadosEscola (15, 1) <class 'pandas.core.frame.DataFrame'>
                    AnoDadosEscola
AnoDadosEscola
2008                       131
2009                       132
2010                      1357
col Distrito (21, 1) <class 'pandas.core.frame.DataFrame'>
              Distrito
Distrito
01          107391
02           15768
03          144373
col Concelho (28, 1) <class 'pandas.core.frame.DataFrame'>
              Concelho
Concelho
01           56203
02           60503
03          175899
col DescrEscola (680, 1) <class 'pandas.core.frame.DataFrame'>
                                          DescrEscola
DescrEscola
Academia de Música de Santa Cecília           562
Centro de Educação Integral                   388
Centro de Estudos Educativos de Ançã         1059
col PubPriv (2, 1) <class 'pandas.core.frame.DataFrame'>
             PubPriv
PubPriv
PRI       219779
PUB      1331839
col CodDGEEC (669, 1) <class 'pandas.core.frame.DataFrame'>
              CodDGEEC
CodDGEEC
1001415       4690
1001807       3439
1001951        395
col DescrDistrito (21, 1) <class 'pandas.core.frame.DataFrame'>
                   DescrDistrito
DescrDistrito
Aveiro                107391
Beja                   15768
Braga                 144373
col DescrConcelho (276, 1) <class 'pandas.core.frame.DataFrame'>
                        DescrConcelho
DescrConcelho
Abrantes                     5856
Aguiar da Beira               573
Albergaria-a-Velha           3220
col Nuts3 (26, 1) <class 'pandas.core.frame.DataFrame'>
           Nuts3
Nuts3
111    36026
112    77920
119    65738
col DescrNuts3 (26, 1) <class 'pandas.core.frame.DataFrame'>
                      DescrNuts3
DescrNuts3
Alentejo Central       23023
Alentejo Litoral       10103
Algarve                54646
col Nuts2 (8, 1) <class 'pandas.core.frame.DataFrame'>
            Nuts2
Nuts2
11     566676
15      54646
16     349542
col DescrNuts2 (8, 1) <class 'pandas.core.frame.DataFrame'>
                DescrNuts2
DescrNuts2
AM Lisboa       417511
Alentejo         87439
Algarve          54646
col DescrExame (38, 1) <class 'pandas.core.frame.DataFrame'>
                                  DescrExame
DescrExame
Alemão                              4232
Alemão (continuação -bienal)           3
Alemão (iniciação -bienal)          2129
col TipoExame (2, 1) <class 'pandas.core.frame.DataFrame'>
               TipoExame
TipoExame
N             721866
ND            829752
col DescrExameAbrev (38, 1) <class 'pandas.core.frame.DataFrame'>
                                  DescrExameAbrev
DescrExameAbrev
Alemão                                   4232
Alemão (continuação -bienal)                3
Alemão (iniciação -bienal)               2129
col SitFreqDescr (2, 1) <class 'pandas.core.frame.DataFrame'>
                      SitFreqDescr
SitFreqDescr
Admitido a Exame        584749
ND                      966869
col SitFreqDefin (2, 1) <class 'pandas.core.frame.DataFrame'>
                                                        SitFreqDefin
SitFreqDefin
Aluno interno que obteve pelo menos 10 valores ...        584749
ND                                                        966869
col TipoCurso (1, 1) <class 'pandas.core.frame.DataFrame'>
               TipoCurso
TipoCurso
N            1551618
col SubtipoCurso (2, 1) <class 'pandas.core.frame.DataFrame'>
                  SubtipoCurso
SubtipoCurso
N01                1551615
N04                      3
col DescrCurso (14, 1) <class 'pandas.core.frame.DataFrame'>
                                 DescrCurso
DescrCurso
Artes Visuais                     80109
Artes Visuais (DL 272/2007)       30627
Ciências Sociais e Humanas        44439
col DescrTipoCurso (2, 1) <class 'pandas.core.frame.DataFrame'>
                                               DescrTipoCurso
DescrTipoCurso
Nível secundário de educação                       955306
Nível secundário de educação (DL 74/2004)          596312
col DescrSubtipoCurso (2, 1) <class 'pandas.core.frame.DataFrame'>
                                                        DescrSubtipoCurso
DescrSubtipoCurso
Cursos Científico-Humanísticos                                1551615
Cursos Científico-humanísticos do Ensino Recorr...                  3
col ExamRounded_median_CIF (20, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [ExamRounded_median_CIF]
Index: []
col ExamRounded_mean_CIF (2267, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [ExamRounded_mean_CIF]
Index: []
col ExamRounded_count_CIF (1078, 1) <class 'pandas.core.frame.DataFrame'>
                           ExamRounded_count_CIF
ExamRounded_count_CIF
1                                        140
2                                        198
3                                        183
col ExamRoundUp_median_CIF (21, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [ExamRoundUp_median_CIF]
Index: []
col ExamRoundUp_mean_CIF (2334, 1) <class 'pandas.core.frame.DataFrame'>
    Empty DataFrame
Columns: [ExamRoundUp_mean_CIF]
Index: []
col ExamRoundUp_count_CIF (1078, 1) <class 'pandas.core.frame.DataFrame'>
                           ExamRoundUp_count_CIF
ExamRoundUp_count_CIF
1                                        131
2                                        194
3                                        219
col CIF_bonus_median_ExamRounded (32, 1) <class 'pandas.core.frame.DataFrame'>
                                  CIF_bonus_median_ExamRounded
CIF_bonus_median_ExamRounded
0.0                                                 320086
0.5                                                    992
1.0                                                 284742
1.5                                                    724
2.0                                                 186109
2.5                                                    492
3.0                                                  94151
col CIF_bonus_mean_ExamRounded (19409, 1) <class 'pandas.core.frame.DataFrame'>
                                CIF_bonus_mean_ExamRounded
CIF_bonus_mean_ExamRounded
0.000000                                           723
0.002424                                           437
0.003080                                           369
0.003922                                           136
0.005405                                            29
...                                                ...
2.998865                                           293
2.998917                                           124
2.999035                                           156
2.999579                                           163
3.000000                                           134

[5791 rows x 1 columns]
col CIF_bonus_median_ExamRoundUp (32, 1) <class 'pandas.core.frame.DataFrame'>
                                  CIF_bonus_median_ExamRoundUp
CIF_bonus_median_ExamRoundUp
0.0                                                 319115
0.5                                                   1791
1.0                                                 284388
1.5                                                   1158
2.0                                                 186012
2.5                                                    739
3.0                                                  93403
col CIF_bonus_mean_ExamRoundUp (19842, 1) <class 'pandas.core.frame.DataFrame'>
                                CIF_bonus_mean_ExamRoundUp
CIF_bonus_mean_ExamRoundUp
0.000000                                           753
0.000867                                           189
0.001572                                           189
0.001675                                            98
0.002475                                           418
...                                                ...
2.995192                                            50
2.997602                                            37
2.997661                                           118
2.997878                                           359
3.000000                                           171

[5930 rows x 1 columns]
col CIF_bonus_adj_median_ExamRounded (229, 1) <class 'pandas.core.frame.DataFrame'>
                                      CIF_bonus_adj_median_ExamRounded
CIF_bonus_adj_median_ExamRounded
0.0                                                          43212
0.1                                                          21804
0.1                                                           6095
0.2                                                          21814
0.3                                                          11225
0.4                                                           1081
0.4                                                           3259
0.5                                                          61068
0.6                                                          27091
0.6                                                           9268
0.7                                                          29198
0.8                                                          31602
0.9                                                           6778
0.9                                                          18689
1.0                                                          40097
1.1                                                          17670
1.1                                                           8641
1.2                                                          20420
1.3                                                          10751
1.4                                                           1518
1.4                                                           2757
1.5                                                          37775
1.6                                                          16087
1.6                                                           6619
1.7                                                          18712
1.8                                                          20326
1.9                                                           5170
1.9                                                          12002
2.0                                                          26217
2.1                                                          10876
2.1                                                           7559
2.2                                                          14741
2.3                                                           7618
2.4                                                           1281
2.4                                                           1719
2.5                                                          18106
2.6                                                           7451
2.6                                                           3885
2.7                                                           9308
2.8                                                          10320
2.9                                                           3039
2.9                                                           5701
3.0                                                          13388
col CIF_bonus_adj_mean_ExamRounded (128187, 1) <class 'pandas.core.frame.DataFrame'>
                                    CIF_bonus_adj_mean_ExamRounded
CIF_bonus_adj_mean_ExamRounded
0.000000                                                   245
0.000275                                                    10
0.000438                                                     7
0.000525                                                    45
0.000529                                                     3
...                                                        ...
2.999579                                                    54
2.999654                                                     5
2.999707                                                     3
2.999735                                                    11
3.000000                                                    38

[44989 rows x 1 columns]
col CIF_bonus_adj_median_ExamRoundUp (228, 1) <class 'pandas.core.frame.DataFrame'>
                                      CIF_bonus_adj_median_ExamRoundUp
CIF_bonus_adj_median_ExamRoundUp
0.0                                                          42564
0.1                                                          15887
0.1                                                           7446
0.2                                                          18071
0.3                                                           9746
0.4                                                           1415
0.4                                                           2579
0.5                                                          63375
0.6                                                          27851
0.6                                                           9648
0.7                                                          30089
0.8                                                          32434
0.9                                                           7020
0.9                                                          19112
1.0                                                          41264
1.1                                                           8739
1.1                                                           4969
1.2                                                          11194
1.3                                                           5696
1.4                                                            863
1.4                                                           1451
1.5                                                          40892
1.6                                                          17023
1.6                                                           7547
1.7                                                          20228
1.8                                                          21856
1.9                                                           5813
1.9                                                          12694
2.0                                                          27988
2.1                                                           3728
2.1                                                           2689
2.2                                                           5107
2.3                                                           2748
2.4                                                            454
2.4                                                            594
2.5                                                          20045
2.6                                                           8064
2.6                                                           4447
2.7                                                          10289
2.8                                                          11424
2.9                                                           3517
2.9                                                           6107
3.0                                                          14791
col CIF_bonus_adj_mean_ExamRoundUp (128797, 1) <class 'pandas.core.frame.DataFrame'>
                                    CIF_bonus_adj_mean_ExamRoundUp
CIF_bonus_adj_mean_ExamRoundUp
0.000000                                                   199
0.000136                                                     5
0.000186                                                    11
0.000223                                                     8
0.000225                                                     2
...                                                        ...
2.999563                                                     1
2.999662                                                     1
2.999761                                                    10
3.000000                                                     2
3.000000                                                    47

[42560 rows x 1 columns]
col isFemale (2, 1) <class 'pandas.core.frame.DataFrame'>
              isFemale
isFemale
False       640751
True        910867
col isPublic (1, 1) <class 'pandas.core.frame.DataFrame'>
              isPublic
isPublic
False      1551618