In [31]:
#!pip install wget

# importing the requests module
import requests
import wget

from os import rename
from os.path import exists


# importing the zipfile module
from zipfile import ZipFile
  
import pyodbc

import pandas as pd
import numpy as np

In [32]:
import warnings

warnings.filterwarnings('ignore')

In [33]:
dicFiles = {}
dicParams = {}
dicParams['dataFolder'] = "C:/ENES/"
dicParams['dataFolderZIP'] = dicParams['dataFolder'] + "ZIP/"
dicParams['dataFolderMDB'] = dicParams['dataFolder'] + "MDB/"
dicParams["FirstRun"] = False
dicParams['dataFolderParquet'] = dicParams['dataFolder'] + "Parquet/"



dicFiles['ENES2008.zip'] =  'https://www.dge.mec.pt/sites/default/files/JNE/enes2008_0.zip'
dicFiles['ENES2009.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2009.zip'
dicFiles['ENES2010.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2010_enes.zip'

dicFiles['ENES2011.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2011_enes.zip'
dicFiles['ENES2012.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2012_enes_secun.zip'
dicFiles['ENES2013.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2013_enes_sec.zip'
dicFiles['ENES2014.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2014.zip'
dicFiles['ENES2015.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2015_0.zip'
dicFiles['ENES2016.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2016-media_2.zip'
dicFiles['ENES2017.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2017-final.zip'
dicFiles['ENES2018.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2018.zip'
dicFiles['ENES2019.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2019.zip'

dicFiles['ENES2020.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes_2020.zip'
dicFiles['ENES2021.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2021.zip'
dicFiles['ENES2022.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/enes2022_bd_imprensa.zip'


dicFiles['ENEB2008.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2008-itens_1.zip'
dicFiles['ENEB2009.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2009.zip'
dicFiles['ENEB2010.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2010_eneb.zip'

dicFiles['ENEB2011.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2011_eneb.zip'
dicFiles['ENEB2012.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2012_eneb_eb.zip'
dicFiles['ENEB2013.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/2013_eneb_2_3ciclos.zip'
dicFiles['ENEB2014.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2014.zip'
dicFiles['ENEB2015.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2015.zip'
dicFiles['ENEB2016.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2016.zip'
dicFiles['ENEB2017.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2017-final.zip'
dicFiles['ENEB2018.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2018_final_1.zip'
dicFiles['ENEB2019.zip'] =  'http://www.dge.mec.pt/sites/default/files/JNE/eneb2019_0.zip'

In [34]:
if dicParams["FirstRun"] == True:
    # loading the temp.zip and creating a zip object

    # download files in dicFiles from the Internet
    for key in dicFiles.keys():
        if not exists(dicParams['dataFolderZIP'] + key):
            print("Downloading " + key)
            wget.download(dicFiles[key], dicParams['dataFolderZIP'] + key)

In [35]:
if dicParams["FirstRun"] == True:
    # loading the temp.zip and creating a zip object


    for key in dicFiles.keys():
        zipfile = dicParams['dataFolderZIP'] + key
        
        with ZipFile(zipfile, 'r') as zObject:
            path=dicParams['dataFolderMDB'] + key[:-4] + ".mdb"
 
            filename = ZipFile.namelist(zObject)[0]

            # Extracting specific file in the zip
            # into a specific location.
            zObject.extract( member=filename, path=dicParams['dataFolderMDB'])


            print("Rename {} to {}".format(dicParams['dataFolderMDB'] +filename, dicParams['dataFolderMDB'] + key[:-4] + ".mdb"))
            rename(dicParams['dataFolderMDB'] + filename, dicParams['dataFolderMDB'] + key[:-4] + ".mdb")

In [36]:
# Replace with your Access database connection string
mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(2022) + '.mdb'
#connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile + '.accdb'
connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile

# Establish a connection to the database
connection = pyodbc.connect(connection_string)
cursor = connection.cursor()
cursorfields = connection.cursor()

# List tables
tables = cursor.tables(tableType='TABLE')
for table in tables:
    table_name = table.table_name
    print(f"Table: {table_name}")
    
    # List fields in the table
    # Execute a query to get the column names
    cursorfields.execute(f"SELECT * FROM {table_name} WHERE 1=0")  # This query retrieves no rows, but gets the table's structure
    column_names = [column[0] for column in cursorfields.description]

    # List the column names
    for column_name in column_names:
        #    print("        {}".format(column_name))
        pass

# List views
views = cursor.tables(tableType='VIEW')
for view in views:
    view_name = view.table_name
    print(f"View: {view_name}")
    
    # List fields in the view
    columns = cursor.columns(table_name=view_name)
    for column in columns:
        field_name = column.column_name
        print(f"  Field: {field_name}")

# Close the connection
connection.close()

Table: tblCodsConcelho
Table: tblCodsDistrito
Table: tblCodsPubPriv
Table: tblCodsSitFreq
Table: tblCursos
Table: tblCursosSubTipos
Table: tblCursosTipos
Table: tblEscolas
Table: tblExames
Table: tblHomologa_2022

# Distrito

# if 'dfDistrito' not in locals():
dfDistrito = pd.DataFrame( {'ano': [], 'Distrito': [], 'descr': []})


for ano in range( 2008, 2022+1):
	
	mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
	connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile

	# Establish a connection to the database
	connection = pyodbc.connect(connection_string)

	# Create a cursor object to interact with the database
	cursor = connection.cursor()

	# Execute SQL query
	SQL = 'SELECT ' + str(ano) + ' as ano, * FROM tblCodsDistrito;'
	cursor.execute(SQL)

	ds = cursor.fetchall()



	# Create a Pandas dataframe from the data
	df = pd.DataFrame.from_records(ds, columns=[col[0] for col in cursor.description])


	dfDistrito = dfDistrito.append(df, ignore_index=True)


	#dsCodsDistrito[ano] = df

	# Close the cursor and connection
	cursor.close()
	connection.close()



#print(dsCodsDistrito)

dfDistrito.to_excel(dicParams['dataFolder'] + "dsCodsDistrito.xlsx")

# Concelho

dfConcelho = pd.DataFrame( {'ano': [], 'Distrito':[], 'Concelho': [], 'Descr': [], 'Nuts3': []})


for ano in range( 2008, 2022+1):
	
	mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
	connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile

	# Establish a connection to the database
	connection = pyodbc.connect(connection_string)

	# Create a cursor object to interact with the database
	cursor = connection.cursor()

	# Execute SQL query
	SQL = 'SELECT ' + str(ano) + ' as ano, * FROM tblCodsConcelho;'
	cursor.execute(SQL)
	ds = cursor.fetchall()

	# Create a Pandas dataframe from the data
	df = pd.DataFrame.from_records(ds, columns=[col[0] for col in cursor.description])

	dfConcelho = dfConcelho.append(df, ignore_index=True)

	# Close the cursor and connection
	cursor.close()
	connection.close()



dfConcelho.to_excel(dicParams['dataFolder'] + "dsCodsConcelho.xlsx", index=False)

# Correções aos nomes dos Concelhos
dfCorrectConcelhoFromTo = {}
dfCorrectConcelhoFromTo['Feira'] = 'Santa Maria da Feira'
dfCorrectConcelhoFromTo['Terras do Bouro'] = 'Terras de Bouro'
dfCorrectConcelhoFromTo['Castanheira de Pera'] = 'Castanheira de Pêra'
dfCorrectConcelhoFromTo['Ponte de Sôr'] = 'Ponte de Sor'
dfCorrectConcelhoFromTo['Calheta'] = 'Calheta (R.A.A.)'
dfCorrectConcelhoFromTo['Vila da Praia da Vitória'] = 'Praia da Vitória'
dfCorrectConcelhoFromTo['Vila Praia da Vitória'] = 'Praia da Vitória'
dfCorrectConcelhoFromTo['Lages das Flores'] = 'Lajes das Flores'
dfCorrectConcelhoFromTo['Lages do Pico'] = 'Lajes do Pico'
dfCorrectConcelhoFromTo['Lagoa (Ponta Delgada)'] = 'Lagoa (R.A.A)'
dfCorrectConcelhoFromTo['Calheta (Funchal)'] = 'Calheta (R.A.M.)'

# PubPriv

dfPubPriv = pd.DataFrame( {'PubPriv': [], 'Descr': []})


for ano in range( 2008, 2022+1):
	
	mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
	connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile

	# Establish a connection to the database
	connection = pyodbc.connect(connection_string)

	# Create a cursor object to interact with the database
	cursor = connection.cursor()

	# Execute SQL query
	SQL = 'SELECT ' + str(ano) + ' as ano, * FROM tblCodsPubPriv;'
	cursor.execute(SQL)
	ds = cursor.fetchall()

	# Create a Pandas dataframe from the data
	df = pd.DataFrame.from_records(ds, columns=[col[0] for col in cursor.description])

	dfPubPriv = dfPubPriv.append(df, ignore_index=True)

	# Close the cursor and connection
	cursor.close()
	connection.close()



dfPubPriv.to_excel(dicParams['dataFolder'] + "dsPubPriv.xlsx", index=False)

# SitFreq

dfAllYears = pd.DataFrame( {'SitFreq': [], 'Descr': []})


for ano in range( 2008, 2022+1):
	
	try:
		mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
		connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile

		# Establish a connection to the database
		connection = pyodbc.connect(connection_string)

		# Create a cursor object to interact with the database
		cursor = connection.cursor()

		# Execute SQL query
		SQL = 'SELECT ' + str(ano) + ' as ano, * FROM tblCodsSitFreq;'
		cursor.execute(SQL)
		ds = cursor.fetchall()

		# Create a Pandas dataframe from the data
		df = pd.DataFrame.from_records(ds, columns=[col[0] for col in cursor.description])

		dfAllYears = dfAllYears.append(df, ignore_index=True)

		# Close the cursor and connection
		cursor.close()
		connection.close()
	except:
		print("Ano:",ano," - Erro")


dfAllYears.to_excel(dicParams['dataFolder'] + "dsSitFreq.xlsx", index=False)

# dfGeo will store information on Concelho, Distrito and Nut3

In [37]:
# Distrito+Concelho+Nuts

dfLocation = pd.DataFrame( {'Distrito':[], 'DescrDistrito':[], 'Concelho': [], 'DescrConcelho': [], 'Nuts3': [], 'Nuts3Descr': []})

# Get Nuts3 names from 2018 database

# Establish a connection to the database
mdbfile = dicParams['dataFolderMDB'] +  'ENES2018.mdb'
connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
connection = pyodbc.connect(connection_string)

# Execute SQL query
SQL = 'SELECT Nuts3, Descr as DescrNuts3 FROM tblNuts3;'
dfNuts3 = pd.read_sql(SQL, connection)

# Get Distrito+Concelho+Nuts from the 2021 database

# Establish a connection to the database
mdbfile = dicParams['dataFolderMDB'] +  'ENES2021.mdb'
connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
connection = pyodbc.connect(connection_string)

# Execute SQL query
SQL = 'SELECT conc.Distrito, distr.Descr as DescrDistrito, conc.Concelho, conc.Descr as DescrConcelho, conc.Nuts3 FROM tblCodsConcelho conc inner join tblCodsDistrito distr on conc.distrito = distr.distrito;'

dfGeo = pd.read_sql(SQL, connection)

# Close the cursor and connection
connection.close()

dfGeo = dfGeo.merge(dfNuts3, on="Nuts3", how="left")

del dfNuts3

dfGeo

,Distrito,DescrDistrito,Concelho,DescrConcelho,Nuts3,DescrNuts3
0,01,Aveiro,01,Águeda,16D,Região de Aveiro
1,01,Aveiro,02,Albergaria-a-Velha,16D,Região de Aveiro
2,01,Aveiro,03,Anadia,16D,Região de Aveiro
3,01,Aveiro,04,Arouca,11A,Área Metropolitana do Porto
4,01,Aveiro,05,Aveiro,16D,Região de Aveiro
...,...,...,...,...,...,...
304,22,R. A. Madeira,08,Ribeira Brava,300,Região Autónoma da Madeira
305,22,R. A. Madeira,09,Santa Cruz,300,Região Autónoma da Madeira
306,22,R. A. Madeira,10,Santana,300,Região Autónoma da Madeira
307,22,R. A. Madeira,11,São Vicente,300,Região Autónoma da Madeira
308,99,Estrangeiro,99,Estrangeiro,900,Estrangeiro

In [38]:
parquetPath = dicParams['dataFolderParquet']

dfGeo.to_parquet(parquetPath + 'dfGeo.parquet.gzip', compression='gzip')  
# dfGeo = pd.read_parquet('dfGeo.parquet.gzip')

# Escolas

In [54]:
#Schools

# LOAD 2022

ano = 2022
# Establish a connection to the database
mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
connection = pyodbc.connect(connection_string)

# Execute SQL query
SQL = "SELECT 2022 as AnoDadosEscola, Distrito, Concelho, Escola, Descr, PubPriv, CodDGEEC FROM tblEscolas;"
dfSchools = pd.read_sql(SQL, connection)

# Close the connection
connection.close()
print("Year {} - adding {} schools to the dataframe.".format( ano, dfSchools.shape[0]))

# Now loop throught the previous years, in descending order, to get schools that no longer exist
for ano in range( 2022-1, 2008-1, -1):
	
	try:
		# Establish a connection to the database
		mdbfile = dicParams['dataFolderMDB'] +  'ENES' + str(ano) + '.mdb'
		connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
		connection = pyodbc.connect(connection_string)

		# Execute SQL query
		if ano >= 2015:
			SQL = "SELECT " + str(ano) + " as AnoDadosEscola, Distrito, Concelho, Escola, Descr, PubPriv, CodDGEEC FROM tblEscolas;"
		else:
			SQL = "SELECT " + str(ano) + " as AnoDadosEscola, Distrito, Concelho, Escola, Descr, PubPriv, int( distrito * 100000 + concelho * 1000 + 999) as CodDGEEC FROM tblEscolas;"
		

		dfUpdates = pd.read_sql(SQL, connection)

		# Identify rows in dfUpdates that don't exist in dfSchools
		mask = ~dfUpdates[['Distrito', 'Concelho', 'Escola']].apply(tuple, axis=1).isin(dfSchools[['Distrito', 'Concelho', 'Escola']].apply(tuple, axis=1))

		# Filter rows in dfUpdates based on the mask
		dfUpdates = dfUpdates[mask]
		#print(ano)
		#print(dfUpdates.dtypes)
		dfUpdates['CodDGEEC'] = dfUpdates['CodDGEEC'].astype(int)
		#print(dfUpdates.dtypes)
		#print(dfUpdates)

		# Concatenate dfSchools and the filtered new_rows
		#result = pd.concat([dfSchools, new_rows])
		dfSchools = pd.concat([dfSchools, dfUpdates])

		print("Year {} - adding an additional {} schools do dataframe, totaling {}.".format( ano, dfUpdates.shape[0], dfSchools.shape[0]))

		# Reset the index in the result DataFrame
		dfSchools.reset_index(drop=True, inplace=True)

		# Close the connection
		connection.close()
	except Exception as ex:
		print("Ano:",ano," - Erro: ", ex.message)


# Assuming 'CodDGEEC' is an integer column
#dfSchools['CodDGEEC'] = dfSchools['CodDGEEC'].astype(bytes)

# Assuming 'CodDGEEC' is an integer column
dfSchools['CodDGEEC'] = dfSchools['CodDGEEC'].astype(str)

# dfSchools.dtypes

Year 2022 - adding 647 schools to the dataframe.
Year 2021 - adding an additional 3 schools do dataframe, totaling 650.
Year 2020 - adding an additional 3 schools do dataframe, totaling 653.
Year 2019 - adding an additional 6 schools do dataframe, totaling 659.
Year 2018 - adding an additional 8 schools do dataframe, totaling 667.
Year 2017 - adding an additional 8 schools do dataframe, totaling 675.
Year 2016 - adding an additional 3 schools do dataframe, totaling 678.
Year 2015 - adding an additional 6 schools do dataframe, totaling 684.
Year 2014 - adding an additional 4 schools do dataframe, totaling 688.
Year 2013 - adding an additional 2 schools do dataframe, totaling 690.
Year 2012 - adding an additional 4 schools do dataframe, totaling 694.
Year 2011 - adding an additional 3 schools do dataframe, totaling 697.
Year 2010 - adding an additional 6 schools do dataframe, totaling 703.
Year 2009 - adding an additional 6 schools do dataframe, totaling 709.
Year 2008 - adding an additional 15 schools do dataframe, totaling 724.

In [55]:
parquetPath = dicParams['dataFolderParquet']

dfSchools.to_parquet(parquetPath + 'dfSchools.parquet.gzip', compression='gzip')  
# dfGeo = pd.read_parquet('dfGeo.parquet.gzip')

In [48]:
dfSchools.dtypes

AnoDadosEscola     int64
Distrito          object
Concelho          object
Escola            object
Descr             object
PubPriv           object
CodDGEEC          object
dtype: object

In [71]:
#SitFreq


# LOAD SitFreq from 2018

# Establish a connection to the database
mdbfile = dicParams['dataFolderMDB'] +  'ENES2018.mdb'
connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
connection = pyodbc.connect(connection_string)

# Execute SQL query
SQL = "SELECT SitFreq, Descr, Defin FROM tblCodsSitFreq;"
dfSitFreq = pd.read_sql(SQL, connection)

# Close the connection
connection.close()

print(dfSitFreq)

  SitFreq                        Descr  \
0      AE             Admitido a Exame
1      AM             Anulou Matrícula
2      AP                     Aprovado
3      EF          Excluído por Faltas
4      RF          Reprovou Frequência
5      AF  Autoproposto sem Frequência

                                               Defin
0  Aluno interno que obteve pelo menos 10 valores...
1  Aluno que frequentou no presente ano letivo a ...
2  Aluno que aprovou por frequência em disciplina...
3  Aluno que frequentou a disciplina na escola es...
4  Aluno que frequentou a disciplina na escola at...
5  Aluno autoproposto que não frequentou a discip...

In [56]:
# Curso, tipo, subtipo

# LOAD SitFreq from 2018
try:
	del dfCursos
except:
	pass

ano = 2022

for ano in range(2022, 2008-1, -1):
	try:
		# Establish a connection to the database
		mdbfile = dicParams['dataFolderMDB'] +  'ENES'+str(ano)+'.mdb'
		connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
		connection = pyodbc.connect(connection_string)

		# Execute SQL query
		SQL = "Select " + str(ano) + " as ano, curso.Curso, curso.TpCurso as TipoCurso, curso.SubTipo as SubtipoCurso, curso.Descr as DescrCurso,"\
		"tpcurso.Descr as DescrTipoCurso, tpcurso.Ano_Ini as TipoCurso_Ano_Ini, tpcurso.Ano_Term as TipoCirso_Ano_Term, tpcurso.Ordena as TipoCurso_Ordena,"\
		"subtipos.Descr as DescrSubtipoCurso "\
		"From ( tblCursos curso inner join tblCursosTipos tpcurso on curso.TpCurso = tpcurso.TpCurso ) inner join tblCursosSubTipos subtipos on curso.SubTipo = subtipos.SubTipo;"

		dfCursosAno = pd.read_sql(SQL, connection)

		print("Ano {} - cursos: {}".format(ano, dfCursosAno.shape[0]))

		if "dfCursos" not in globals():
			dfCursos = dfCursosAno
		else:
			dfCursos = dfCursos.append(dfCursosAno)
	except:
		print("Ano {} - ERRO!".format(ano))

# Close the connection
connection.close()

print(dfCursos)

Ano 2022 - cursos: 403
Ano 2021 - cursos: 488
Ano 2020 - cursos: 430
Ano 2019 - cursos: 731
Ano 2018 - cursos: 616
Ano 2017 - cursos: 604
Ano 2016 - cursos: 610
Ano 2015 - cursos: 602
Ano 2014 - cursos: 923
Ano 2013 - cursos: 927
Ano 2012 - cursos: 924
Ano 2011 - cursos: 891
Ano 2010 - cursos: 814
Ano 2009 - cursos: 806
Ano 2008 - cursos: 802
      ano Curso TipoCurso SubtipoCurso  \
0    2022   002         E          E01
1    2022   003         E          E01
2    2022   004         E          E01
3    2022   005         E          E01
4    2022   001         E          E01
..    ...   ...       ...          ...
797  2008   022         W          W01
798  2008   023         W          W01
799  2008   024         W          W01
800  2008   016         W          W01
801  2008   000         X          X00

                                      DescrCurso  \
0                                      2.º Curso
1                                      3.º Curso
2                                      4.º Curso
3                                      5.º Curso
4                                      1.º Curso
..                                           ...
797       Técnico de agricultura (agro-pecuária)
798      Técnico de agricultura (ind. alimentar)
799        Técnico de agricultura (silvicultura)
800               Técnico de estilismo/modelismo
801  Informação não disponível (aluno deslocado)

                                  DescrTipoCurso  TipoCurso_Ano_Ini  \
0                       Via de ensino do 12º ano               12.0
1                       Via de ensino do 12º ano               12.0
2                       Via de ensino do 12º ano               12.0
3                       Via de ensino do 12º ano               12.0
4                       Via de ensino do 12º ano               12.0
..                                           ...                ...
797      Via profissionalizante dos 10º/12º anos               10.0
798      Via profissionalizante dos 10º/12º anos               10.0
799      Via profissionalizante dos 10º/12º anos               10.0
800      Via profissionalizante dos 10º/12º anos               10.0
801  Informação não disponível (aluno deslocado)                NaN

     TipoCirso_Ano_Term  TipoCurso_Ordena  \
0                  12.0                 2
1                  12.0                 2
2                  12.0                 2
3                  12.0                 2
4                  12.0                 2
..                  ...               ...
797                12.0                 4
798                12.0                 4
799                12.0                 4
800                12.0                 4
801                 NaN                30

                               DescrSubtipoCurso
0                       Via de ensino do 12º ano
1                       Via de ensino do 12º ano
2                       Via de ensino do 12º ano
3                       Via de ensino do 12º ano
4                       Via de ensino do 12º ano
..                                           ...
797      Via profissionalizante dos 10º/12º anos
798      Via profissionalizante dos 10º/12º anos
799      Via profissionalizante dos 10º/12º anos
800      Via profissionalizante dos 10º/12º anos
801  Informação não disponível (aluno deslocado)

[10571 rows x 10 columns]

In [23]:
# Exames


# LOAD Exames for all years

try:
	del dfExames
except:
	pass

ano = 2022

for ano in range(2022, 2008-1, -1):
	try:
		# Establish a connection to the database
		mdbfile = dicParams['dataFolderMDB'] +  'ENES'+str(ano)+'.mdb'
		connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
		connection = pyodbc.connect(connection_string)

		# Execute SQL query
		if ano > 2014:
			SQL = "Select " + str(ano) + " as ano, Exame, Descr as DescrExame, TipoExame from tblExames;"
		else:
			SQL = "Select " + str(ano) + " as ano, Exame, Descr as DescrExame, '?' as TipoExame from tblExames;"
		
		dfExamesAno = pd.read_sql(SQL, connection)

		# print("Ano {} - exames: {}".format(ano, dfExamesAno.shape[0]))
		# print(dfExamesAno)

		if "dfExames" not in globals():
			dfExames = dfExamesAno
		else:
			dfExames = dfExames.append(dfExamesAno)
	except:
		print("Ano {} - ERRO!".format(ano))

# Close the connection
connection.close()

print(dfExames)

     ano Exame                           DescrExame TipoExame
0   2022   138             Português Língua Segunda         N
1   2022   501                               Alemão         N
2   2022   517                              Francês         N
3   2022   547                 Espanhol (iniciação)         N
4   2022   550                               Inglês         N
..   ...   ...                                  ...       ...
26  2008   750          Inglês (iniciação -trienal)         ?
27  2008   817       Francês (continuação -trienal)         ?
28  2008   835   Matemática Aplic. às Ciências Soc.         ?
29  2008   839  Português Língua não materna (int.)         ?
30  2008   850        Inglês (continuação -trienal)         ?

[385 rows x 4 columns]

In [42]:
# Resultados


# LOAD Resultados for all years
df = {}
try:
	del dfResultadosAno
except:
	pass

ano = 2022

for ano in range(2022, 2008-1, -1):
	try:
		# Establish a connection to the database
		mdbfile = dicParams['dataFolderMDB'] +  'ENES'+str(ano)+'.mdb'
		connection_string = 'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=' + mdbfile
		connection = pyodbc.connect(connection_string)

		# Execute SQL query
		if ano > 2015:
			SQL = "Select " + str(ano) + " as ano, * from tblHomologa_" + str(ano) + ";"
		else:
			SQL = "Select " + str(ano) + " as ano, *, '?' as ParaCFCEPE from tblHomologa_" + str(ano) + ";"

		dfResultadosAno = pd.read_sql(SQL, connection)
		#print("Ano:", ano, ". Results imported: ", dfResultadosAno.shape)
		#print(dfResultadosAno.head(1))

		# print("Ano {} - exames: {}".format(ano, dfExamesAno.shape[0]))
		# print(dfExamesAno)

		df[ano] = dfResultadosAno

		if "dfResultados" not in globals():
			dfResultados = dfResultadosAno
		else:
			dfResultados = dfResultados.append(dfResultadosAno)
	except:
		print("Ano {} - ERRO!".format(ano))

# Close the connection
connection.close()

print("dfResultados: ", dfResultados.shape)

dfResultados:  (5901336, 18)

In [53]:
# Delete from dfResultados where fase != 1
print(dfResultados.shape)
dfResultados = dfResultados[dfResultados["Fase"]=='1']

print(dfResultados.shape)

# Reset the index if needed
dfResultados.reset_index(drop=True, inplace=True)

print(dfResultados.shape)

(4284979, 18)
(4284979, 18)
(4284979, 18)

In [55]:
# Delete from dfResultados where fase != 1
print(dfResultados.shape)
dfResultados = dfResultados[dfResultados["TemInterno"]=='S']

print(dfResultados.shape)

# Reset the index if needed
dfResultados.reset_index(drop=True, inplace=True)

print(dfResultados.shape)

(4284979, 18)
(2959911, 18)
(2959911, 18)

In [54]:
dfResultados.head()

,ano,ID,Escola,Fase,Exame,ParaAprov,Interno,ParaMelhoria,ParaIngresso,ParaCFCEPE,TemInterno,Sexo,Idade,Curso,SitFreq,CIF,Class_Exam,CFD
0,2022,1,0002,1,639,N,N,S,S,N,N,F,19.0,F62,None,NaN,52.0,5.0
1,2022,2,0002,1,639,N,N,N,S,N,N,F,17.0,U33,None,NaN,118.0,NaN
2,2022,3,0002,1,639,N,N,N,S,N,N,F,17.0,F62,AP,14.0,91.0,NaN
3,2022,4,0002,1,639,N,N,N,S,N,N,F,20.0,P91,None,NaN,40.0,NaN
4,2022,5,0002,1,639,N,N,N,S,N,N,F,18.0,F62,AP,13.0,110.0,NaN